h3 {
    border-width: medium;
    border-style: solid;
    border-color: darkslategrey;
    /* passe o mouse aqui em cima da cor o Brackets mostra a cor */
}



/* border-radius serve para criar aquelas bordas arredondadas ao redor de elementos da página
*/

.circulo {
    border-radius: 50%;
    /* poderia alterar cada raio por ex. border-top-left-radius: 50%;*/
    border: 5px solid #000;
    height: 150px;
    line-height: 100px;
    /* altura entre inicio e o texto */
    text-align: center;
    width: 150px;
}

.quadrado {
    width: 100px;
    height: 100px;
    background-color: #660;
    border-radius: 10px 10px 10px 10px;
    /* todos os cantos como é um quadrado poderia colocar 
     border-radius: 10px */
}

body {
	font: 150% Arial, Helvetica, sans-serif;
}
/* 150% do tamanho original "pai"  */


h1 {
	font: bold 100% Arial, Helvetica, sans-serif;
}

#pagina {
	padding: 5px;
	width: 960px; /* tamanho mais comum usado */
	margin: 20px auto;
}

#cabecalho {
	height: 180px;
}

#conteudo {
	width: 600px;
	float: left;
    background: #f8f8f8;
}

#lateral {
	width: 300px;
	float: right;
    background: #f0efef;
}

#rodape {
	clear: both;
}

#cabecalho, #conteudo, #lateral {
	margin-bottom: 5px;
}

	
#pagina, #cabecalho, #conteudo, #lateral, #rodape {
	border: solid 1px #ccc;
}


/* Media queries/* 

/*  980px ou menor */
@media screen and (max-width: 980px) {
	
	#pagina {
		width: 94%;
	}
	#conteudo {
		width: 65%;
	}
	#lateral {
		width: 30%;
	}

}

/* 700px ou menor  */
@media screen and (max-width: 700px) {

	#conteudo {
		width: auto;
		float: none;
	}
	#lateral {
		width: auto;
		float: none;
	}

}

/*  480px or menor  */
@media screen and (max-width: 480px) {

	#cabecalho {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	#lateral { /* nao mostra a lateral */
		display: none;
	}

}
